<div class="message-container-<%= message.user.id %> mb-4">
  <div class="flex justify-start items-end gap-4 message-box-<%= message.user.id %>">
    <div class="w-10 h-10 relative overflow-hidden rounded-full border border-neutral-600">
      <img src="https://img.freepik.com/free-photo/observation-urban-building-business-steel_1127-2397.jpg?t=st=1727782093~exp=1727785693~hmac=8556e726b11f2cc5b62a1813d43f6f0cfa02c49a450ebd226d9128dd2ae8d3da&w=1060" alt="" class="absolute w-full h-full object-fit top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">
    </div>
    <% unless message.room.is_private %>      
      <div class="py-2 px-3 rounded-tl-[14px] rounded-tr-[14px] rounded-br-[14px] rounded-bt-[14px] bg-neutral-600 w-fit min-w-[160px] message-<%= message.user.id %>">
      <div class="text-xs font-medium mb-2">
        <%= message.user.email%>
      </div>
      <div class="text-sm mb-1">
        <%= message.body %>
      </div>
      <div class="text-[11px] font-medium text-right">
        <%= message.created_at.strftime("%A %l:%M %p") %>
      </div>
      </div>
    <% end %>
  </div>
</div>